In [12]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
from school import School

In [14]:
newstudentname = "Neda Jabbari"
newstudentgrade =10
exampleroster = {12: ['Peter Piper'],
 9: ['Kelly Slater'],
 10: ['Tony Hawk', 'Ryan Sheckler'],
 11: ['Bethany Hamilton']}
exampleroster[newstudentgrade].append(newstudentname)
exampleroster[newstudentgrade]

['Tony Hawk', 'Ryan Sheckler', 'Neda Jabbari']

In [19]:
exampleroster

{12: ['Peter Piper'],
 9: ['Kelly Slater'],
 10: ['Tony Hawk', 'Ryan Sheckler', 'Neda Jabbari'],
 11: ['Bethany Hamilton']}

In [20]:
school = School("Middletown High School")

In [21]:
school.roster

{}

In [23]:
school = School("Middletown High School")
school.add_student("Peter Piper", 12)
school.roster

{12: ['Peter Piper']}

In [24]:
school.add_student("Kelly Slater", 9)
school.add_student("Tony Hawk", 10)
school.add_student("Ryan Sheckler", 10)
school.add_student("Bethany Hamilton", 11)
school.roster

{12: ['Peter Piper'],
 9: ['Kelly Slater'],
 10: ['Tony Hawk', 'Ryan Sheckler'],
 11: ['Bethany Hamilton']}

In [28]:
school = School("Middletown High School") 
school.add_student("Peter Piper", 12)
school.add_student("Kelly Slater", 9)
school.add_student("Tony Hawk", 10)
school.add_student("Ryan Sheckler", 10)
school.add_student("Bethany Hamilton", 11)

In [29]:
print(school.grade(10)) # ["Tony Hawk", "Ryan Sheckler"]
print(school.grade(12))

['Tony Hawk', 'Ryan Sheckler']
['Peter Piper']

In [33]:
school.sort_roster()

{12: ['Peter Piper'],
 9: ['Kelly Slater'],
 10: ['Ryan Sheckler', 'Tony Hawk'],
 11: ['Bethany Hamilton']}